body {
  padding-bottom: 70px;
}

form {
  align-content: center;
  padding-bottom: 20px;
}

.tituloPagina {
  padding-bottom: 20px;
}

.indexTexto {
  font-size: 8px;
  font-style: italic;
  padding-left: 20%;
}
